.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 25vmax;
  box-shadow: 5px 0 15px -10px black;
  border: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-toolbar.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #404850;
  box-shadow: 0 2px 4px -2px black;
}

.main-toolbar div {
  display: inline-block;
  padding-left: 2%;
}

.toolbar-name,
.toolbar-desc {
  display: inline-block;
}

.toolbar-name {
  margin-left: 3vw;
  font-size: 1.4rem;
}

.toolbar-desc {
  margin-left: 2vw;
  font-size: 1rem;
}

mat-nav-list a {
  width: 24vmax;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 10px;
  box-shadow: -8px 0px 8px -4px black;
  font-size: 1.02em;
}

mat-nav-list a:hover,
mat-nav-list a:active
{
  font-size: 1em;
  box-shadow: 0 0 0 0 black;
}
