.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 22vmax;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-toolbar div {
  display: inline-block;
  padding-left: 2%;
}

.toolbar-name,
.toolbar-desc {
  display: inline-block;
  padding-left: 2rem;
}

.toolbar-name {
  font-size: 2.5rem;
  vertical-align: center;
}

.toolbar-desc {
  font-size: 1.5rem;
  font-style: italic;
}

mat-nav-list a {
  width: 20vmax;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: -5px 2px 5px -3px black;
}
