/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.inner-content a {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
  box-shadow: -5px 2px 5px -2px black;
  font-size: 1.01em;
}

.inner-content a:hover {
  box-shadow:  0 0 100px 100px rgba(255, 255, 255, 0.02) inset;
  font-size: 1em;
}
