/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inner-content {
  line-height: 1.9em;
}

.inner-content a {
  color: whitesmoke;
  text-decoration: none;
  box-shadow: 0 4px 10px 0px black;
  padding: 4px 8px;
  border-radius: 5px;
  white-space: nowrap;
}

.inner-content a.long-link {
  display: inline-block;
  padding: 10px 25px 10px 15px;
  margin: 10px;
  min-width: 25vw;
  box-shadow: -5px 2px 5px -2px black;
  border-radius: 0;
  font-size: 1.01em;
  font-weight: bold;
}

.inner-content a:hover {
  box-shadow:  0 0 100px 100px rgba(255, 255, 255, 0.02) inset;
  font-size: 1em;
}

.inner-content a:before {
  content:'\2192\00A0\00A0';
  display: inline-block;
}

.inner-content ul {
  list-style-type: none;
}
