header.content-header {
  height: 15%;
  text-align: center;
  padding-top: 2em;
  box-shadow: 0 4px 8px -4px black;
}

header.content-header h1{
  font-weight: normal;
}

main.content-main {
  padding: 20px 10% 0 10%;
}

a,
a:visited {
  color: lightcoral;
}
